.logo {
  gap: 2.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding-top: 3.2rem;
}

.logoLink {
  gap: 0.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  color: var(--primary);
  font-size: 4.2rem;
  font-weight: bold;
  text-decoration: none;

  transition: all 0.1s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
